<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>


<%= form_for @user do |f| %>

  <div class="form-group">
    <label for="exampleInputEmail1"> <%= f.label :email %> </label>
    <%= f.email_field :email, :required => true, :class => 'form-control', :placeholder => 'Email' %>
  </div>

  <fieldset class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
    <!-- password_field -> can't show password -->
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Password confirmation' %>
  </fieldset>

<%= f.submit "Sign Up!", :class => 'btn btn-success' %>
<!-- a submit button says Sign Up! -->

<% end %>
