<h4>Get your friends - share your photos - share your thoughts <i class="em em-blush"></i> </h4>

<% if @current_user.present? %>
  Welcome Back <%= @current_user.name %>!</br>
<% end %>


<% if @current_user.present?  %>
  <%= image_tag @current_user.userPhoto, :class => 'userPhoto' unless @current_user.userPhoto.nil? %></br>
  -------------</br>
  Log in as: <%= @current_user.email %></br>
  Location: <%= @current_user.location %></br>
  Joined: <%= time_ago_in_words(@current_user.created_at) %> ago</br>
  <% else %>
  <h1>Today's Top Posts</h1>
  <div class="row">
    <div class="col-md-8">
      <h2>Sleep Yourself to A Better Memory?</h2>
      <p>
        Every lifestyle choice has the potential to affect your cognitive abilities and health.
        In recent years, various researchers have found that a habit that most of us take for granted
        — sleep — may affect our memory in noticeable ways.
        </br></br>
        Does sleep help long term memories stick? In a study published in the June 2011 issue of Science, University of Washington researchers studied how sleep might impact long-term memories. How? By using a special breed of fruit flies that could be induced to sleep on demand.
        </br></br>
        Sleep plays a vital role in good health and well-being throughout your life. Getting enough quality sleep at the right times can help protect your mental health, physical health, quality of life, and safety. Studies also show that sleep deficiency alters activity in some parts of the brain.
        <!-- https://www.nhlbi.nih.gov/health/health-topics/topics/sdd/why -->
      </p>
    </div>

    <div class="col-md-4">
      <h2>Amanda says</h2>
      <p>
        Sleep helps your brain work properly. While you're sleeping, your brain is preparing for the next day. It's forming new pathways to help you learn and remember information.
        <i class="em em-smile"></i> <i class="em em-smile"></i> <i class="em em-smile"></i>
        <!-- https://afeld.github.io/emoji-css/ -->
        </br></br>
        Studies show that a good night's sleep improves learning. Whether you're learning math, how to play the piano, how to perfect your golf swing, or how to drive a car, sleep helps enhance your learning and problem-solving skills. Sleep also helps you pay attention, make decisions, and be creative.
      </p>
    </div>
  </div>


  <section class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <h2 class="section-heading text-white">We've got what you need!</h2>
          <hr class="light">
          <p class="text-faded">Tell all of your friends, that they now have a new place to share their photos and feelings. Sign up a free account today!</br>
          You are welcome to post a photo and leave some comments for your friends to reply.
          </p>
          <a class="btn btn-default btn-xl js-scroll-trigger" href="<%= new_user_path %>">Sign Up Today</a>
        </div>
      </div>
    </div>
  </section>


<% end %>
