<h1>Photo</h1>

<%= form_for @photo, html: {multipart: true} do |form| %>


  <div class="field">
  <%= form.label :title %>
  <%= form.text_area :title %>
  </div>

  <div class="field">
  <%= form.label :image %>
  <%= form.file_field :image %>
  </div>

  <div class="field">
  <%= form.label :comment %>
  <%= form.text_area :comment %>
  </div>

  <div class="actions">
  <%= form.submit %>
  </div>
<% end %>
