<h4>To create a post here:</h4>


<%= form_for @post, html: {multipart: true}, class: "form-horizontal" do |form| %>


  <fieldset class="form-group">
    <div class="field">
    <%= form.label :dateOfPost, "Date of Post: ", class: "col-sm-2 control-label" %>
    <%= form.text_area :dateOfPost, class: "col-sm-2 control-label" %>
    </div>
  </fieldset>

  <!-- <div class="field">
  <%= form.label :user_id %>
  <%= form.file_field :user_id %>
  </div> -->

  <fieldset class="form-group">
    <div class="field">
    <%= form.label :reply, "Your Thoughts: ", class: "col-sm-2 control-label" %>
    <%= form.text_area :reply, class: "col-sm-2 control-label" %>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <div class="actions">
    <%= form.submit "Create A Post", :class => 'btn btn-primary' %>
    </div>
  </fieldset>

<% end %>
